@model SisEventos.Models.Veiculo
@{
    ViewData["Title"] = "Detail";
}
<h2>Veiculo</h2>
<div class="evento-detail">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Placa</th>
                <th scope="col">Cor</th>
                <th scope="col">Modelo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.Id</th>
                <td>@Model.Nome</td>
                <td>@Model.Descricao</td>
                <td>@Model.Modelo</td>
            </tr>
        </tbody>
    </table>
    <img src="@Model.CaminhoImagem" />
</div>
